@model Category

<form method="post" asp-area="Admin" asp-action="Upsert" asp-controller="Category">
    <div class="border p-4 mt-4 shadow rounded">
        <input hidden asp-for="Id"/>
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Add") Category</h2>
            <hr />
        </div>

        <!-- Name -->
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Category" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Display Order -->
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" type="number" class="form-control" placeholder="Enter Display Order" required />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>


        <!-- Submit and Back Buttons -->
        <div class="row">
            <div class="col-6">
                @if(Model.Id != 0){
                    <button type="submit" class="btn btn-primary form-control">Update Category</button>
                }
                else{
                    <button type="submit" class="btn btn-primary form-control">Add Category</button>
                }
            </div>
            <div class="col-6">
                <a asp-area="Admin`" asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to Categories List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}